@font-face {
    font-family: 'PressStart2P';
    src: url(PressStart2P.ttf);
}

p{
    color:green;
    font-family:"Consolas";
    background-color:black ;
}

h1{
    color:white;
    background-color:black ;
    font-family:"PressStart2P";
}


h4{
    color:white;
    font-family:"PressStart2P";
    background-color:black ;
    font-size: 10px;
}

ul{
    color: green;
    font-family:"Consolas";
    background-color:black ;
}

ol{
    color: green;
    font-family: "Consolas";
    background-color:black ;
}

dd{
    color: green;
    font-family: "Consolas";
    background-color:black ;
}

dt{
    color: green;
    font-family: "Consolas";
    background-color:black ;
}

body{
    background-color:rgb(7, 7, 7);
}

a{
    background-color: rgb(0, 0, 0);
}